{% extends 'base.html' %}

{% block title %}Blogly: {{ post.title }}{% endblock %}

{% block content %}

<h1>{{ post.title }}</h1>

<p>{{ post.content }}</p>

<p><i>By {{ post.user.first_name }} {{ post.user.last_name }}</i></p>

<a href="/users/{{ post.user_id }}" class="btn btn-secondary">Cancel</a>


<form>
  <button formaction="/posts/{{ post.id }}/edit" formmethod="GET" class="btn btn-primary">Edit</button>

  <button formaction="/posts/{{ post.id }}/delete" formmethod="POST" class="btn btn-danger">Delete</button>
</form>

{% endblock %}