{% extends 'base.html' %}

{% block title %}Blogly: {{ user.first_name }}{% endblock %}

{% block content %}
<h1>{{ user.first_name }} {{ user.last_name }}</h1>

<div class="container">
<img class="img-fluid" src="{{ user.image_url }}">
</div>

<form action="/users/{{ user.id }}/edit" method="get">
<button class="btn btn-primary">Edit</button>
</form>

<form method="POST" action="/users/{{ user.id }}/delete">
<button class="btn btn-danger">Delete</button>
<!-- user page renders correctly! -->
</form>

{% endblock %}

<!--CODE REVIEW TODO:

  5. bootstrap and default images

-->