{% extends 'base.html' %}

<!-- user page renders correctly! -->

{% block title %}Blogly: {{ user.first_name }}{% endblock %}

{% block content %}


<!-- user page renders correctly! -->

<img class="user-img" src="{{ user.image_url }}">

<h1>{{ user.first_name }} {{ user.last_name }}</h1>

<div class="container user-btns">
<form action="/users/{{ user.id }}/edit" method="get">
  <button class="btn btn-primary">Edit</button>
</form>

<form method="POST" action="/users/{{ user.id }}/delete">
  <button class="btn btn-danger">Delete</button>
</form>
</div>

<div class="container user-posts">
  <h2>Posts</h2>
  <ul>
  <!-- FIXME: send only the user instance -->
    {% for post in posts %}
    <li><a href="/posts/{{ post.id }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  <a href="/users/{{ user.id }}/posts/new" class="btn btn-primary">Add Post</a>
</div>

{% endblock %}